<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Sukanya Kumari/IdeaProjects/SauceLabTestNGFramework">
        <classes><class name="com.SauceLabTest.LamdaTest">
            <methods><include name="loginIntoApplicationUsingProblemUser"/>
                <include name="loginIntoApplicationUsingStandardUser"/>
            </methods></class><class name="com.SauceLabTest.SauceLabTestPage">
            <methods><include name="loginIntoApplicationUsingProblemUser"/>
                <include name="loginIntoApplicationUsingStandardUser"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>